nav {
  background-color: var(--primary-color);
  width: 100%;
  padding-block: 10px;
  box-shadow: 1px 2px 5px rgb(129, 129, 129);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
}



nav .screen_limiter {
  max-width: var(--web-max-width);
  width: 100%;
  display: flex;
  justify-content: center;
}

nav .screen_limiter .navAction_limiter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 1px;
  max-width: 60%;
  width: 100%;
}

nav .screen_limiter .navAction_limiter a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  color: black;
  text-decoration: none;

  transition: transform 0.55s ease-in-out;
 

}

nav .screen_limiter .navAction_limiter a svg {

font-size: 19px;

}

nav .screen_limiter .navAction_limiter a p {

font-size: 10px;

}

nav .screen_limiter .navAction_limiter a.active {


transform: scale(1.2) rotate(360deg);
font-weight: 900;
}



nav .screen_limiter .navAction_limiter .navAction p {
  text-decoration: none;
  
  font-size: 10px;
}

nav .screen_limiter .navAction_limiter .navAction svg {
  font-size: 19px;
  
  
  
}





@media (max-width: 700px) {
  nav .screen_limiter .navAction_limiter {
    max-width: 100%;
  }
}
