.store {
  height: 100vh;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.store_content {
  background-color: white;
  max-width: var(--web-max-width);
  width: 100%;
  z-index: -1;
}
